a.BookItem:link, a:visited {
    background-color: rgb(0, 38, 255);
    color: white;
    padding: 5px 10px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border: rgb(255, 255, 255);
  }
  a.BookItem:hover, a:active {
    background-color: rgb(19, 51, 231);
  }